# Nginx
PATH_SSL_KEY=./
#PATH_SSL_KEY=/etc/letsencrypt/live/your_site/
SITE_HOST="{{ sub_all_url }}"
#SITE_HOST=subserver.example
SITE_PORT="{{ sub_all_port }}"
#SITE_PORT=443
SERVERS="{{ vpn_servers_sub }}"
#SERVERS="https://server1.com/sub/ https://server2.com/sub/"
SUB="{{ sub_all_path }}"
#sub url https://{{ sub_all_url }}:{{ sub_all_port }}/{{ sub_all_path }}/<subID>
SUB=sub
TLS_MODE=on
