# Nginx
PATH_SSL_KEY=/server/certbot/live/{{ subnginx3xui_sub_all_url }}
#PATH_SSL_KEY=/etc/letsencrypt/live/your_site/
SITE_HOST="{{ subnginx3xui_sub_all_url }}"
#SITE_HOST=subserver.example
SITE_PORT="{{ subnginx3xui_sub_all_port }}"
#SITE_PORT=443
SERVERS="{{ subnginx3xui_vpn_servers_sub }}"
#sub url https://{{ subnginx3xui_sub_all_url }}:{{ subnginx3xui_sub_all_port }}/{{ subnginx3xui_sub_all_path }}/<subID>
SUB="{{ subnginx3xui_sub_all_path }}"
TLS_MODE=on
